.btn_newGame {
	margin: 0 auto;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: rgb(135, 250, 135);
	min-width: 50%;
	font-size: 20px;
	font-weight: 900;
	&:hover {
		cursor: pointer;
		background-color: rgb(105, 240, 87);
	}
}
