.App {
	text-align: center;
}

.App__title {
	margin: 10px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.settingsContainer {
	display: flex;
	align-items: top;
}

.addUserBlock {
	flex-basis: 50%;
}

.filterUserBlock {
	flex-basis: 50%;
}
